.flexbox-container {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}

.flexbox-container > div {
	width: 30%;
	padding: 10px;
    background:grey;
    height:800px;
}

.item-flex {
    height:100%;
    background:#c6c4c4;
}

.flexbox-container > div:first-child {
	margin-right: 20px;
    background:#c4c6c4;
    display:wrap;
}