{% extends "layoutstd.php" %}


{% block content %}
<div class="flexbox-container">
    <div> 
          Daftar No Indohome
          <hr>
          <table>
              <thead>
                  <tr>location</tr>
                  <tr></tr>
                  <tr></tr>
                  <tr></tr>
              </thead>
              <tbody>
                    <tr>
                            <td>121302207384</td>
                            <td>HO</td>
                            <td>0251-8349947</td>
                            <td>121302207384.ip-dynamic.com</td>
                        </tr>

                <tr>
                    <td>121302284486</td>
                    <td>Depan</td>
                    <td>0251-8353804</td>
                    <td></td>
                </tr>

                   <tr>
                    <td>1213022.84484</td>
                    <td>Belakang</td>
                    <td>0251-8373651</td>
                    <td></td>

                    </tr>
                     
                    <tr>
                            <td>121302206529</td>
                            <td>Fashion</td>
                            <td>0251-83650008</td>
                            <td></td>
                    </tr>
                    <tr>
                            <td>121302202931</td>
                            <td>ONLINE</td>
                            <td>0251-8572876</td>
                            <td>121302207384.ip-dynamic.com</td>
                        </tr>

              </tbody>


          </table>
    </div>
    <div>11

            sudo apt install nodejs-legacy
        <a href="https://makeawebsitehub.com/css3-mega-cheat-sheet/">CSS</a>
    </div>
</div>


{% endblock %}
